{
  "root": true,
  "parser": "@babel/eslint-parser",
  "plugins": ["react", "import"],
  "parserOptions": {
    "requireConfigFile": false,
    "babelOptions": {
      "presets": ["next/babel"],
      "caller": {
        // Eslint supports top level await when a parser for it is included. We enable the parser by default for Babel.
        "supportsTopLevelAwait": true
      }
    }
  }
}
