@import '_variables.scss';

.header{
  margin: 40px 0;
  justify-content: space-between;
  align-items: center;
  min-height: 64px;
  @media (max-width: 1024px){
    flex-wrap: wrap;
    margin: 20px 0;
  }
  @media (max-width: 480px){
    flex-direction: column;
    gap: 20px;
  }
}
.nav{
  display: flex;
  gap: 60px;
  justify-items: center;
  @media (max-width: 1024px){
    order: 5;
    width: 100%;
    flex: 1 1 100%;
    justify-content: space-between;
    margin-top: 20px;
    flex-wrap: wrap;
    gap: 20px;
  }  
  @media (max-width: 640px){
    margin-top: 10px;
  }
  .nav-item{
    display: inline-flex;
    align-items: center;
    gap: 6px;
    color: rgb(40, 40, 40);
    text-decoration: none;
    font-size: 12px;
    font-weight: 500;
    position: relative;
    &:before{
      height: 1px;
      content: '';
      background-color: $text-primary;
      width: 100%;
      bottom: -8px;
      left: 0;
      right: 0;
      display: none;
      position: absolute;
    }
    &.active{
      &:before{
        display: block;
      }
    }
    &:hover{
      color: $text-primary;
      svg{
        color: $text-primary;
      }
    }
  }  
}
.btn-info-account{
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 4px;
  justify-content: space-between;
}