@import '_variables.scss';

* {
  outline: none;
  box-sizing: border-box;
}
html {
  -webkit-tap-highlight-color: transparent;
}

body{
  font-size: 11px;
  line-height: 1.4;
  font-weight: 400;
  min-width: 320px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  overflow: scroll;
  background: rgb(244, 246, 248);
  font-family: 'Inter', sans-serif;
}
.container{
  padding: 0px 10rem;
  margin: 0 auto;
  width: 100%;
  display: flex;  
  @media (max-width: 1200px){
    padding: 0 32px;
  }
  @media (max-width: 767px){
    padding: 0 16px;
  }
}
.row{
  margin: 0 auto;
  padding: 0;
  width: 100%;
  display: flex;
}
a{
  text-decoration: none;
  color: $text-body;
  &:hover{
    color: $text-primary;
  }
}
button{
  font-weight: 500;
  font-size: 15px;
  border-radius: 8px;
  padding: 12px 16px;
  appearance: none;
  border: none;
  cursor: pointer;
  background-color: transparent;
  &:disabled{
    opacity: 0.7;
    cursor: default;
  }
}
.button-primary{
  background-color: $text-primary;
  color: rgb(255, 255, 255);
  font-weight: 500;
  font-size: 15px;
  border-radius: 8px;
}
.button-secondary{
  background-color: rgb(238, 238, 238);
  color: $text-primary
}
.button-ternary{
  border: 1px solid $text-primary;
  color: $text-primary;
  
}
p{
  margin: 0;
}
.text-green-900{
  color: #34C759;
}
.text-red-900{
  color: #FA0101
}
.text-orange-900{
  color: #FF9500;
}
.text-blue-900{
  color: #32ADE6;
}
.items-center{
  align-items: center;
}
.btn-connect-account{
  display: flex;
  gap: 10px;
}
.form-input{
  position: relative;
  display: block;
  width: 100%;
  font-size: 14px;  
  .form-input__container{
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
    input{
      border: 1px solid rgb(209, 216, 223);
      border-radius: 8px;
      background-color: #fff;
      width: 100%;
      height: 48px;
      padding: 4px 12px;
      &:focus{
        border-color: $text-primary;
      }
      &.error{
        border-color: #FA0101
      }
      &.has-prefix{
        padding-left: 48px;
      }
    }
  }
  .form-input__error{
    display: inline-flex;
    gap: 8px;
    position: absolute;
    right: 8px;
    align-items: center;
  }
  .form-input__suffix{    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-input__prefix{
    position: absolute;
    left: 1px;
    right: 1px;
    bottom: 1px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
.page-404{
  min-height: calc(100vh - 340px);
  align-items: center;
  justify-content: center;
  @media (max-width: 1024px){
    min-height: calc(100vh - 350px);
  }
  @media (max-width: 767px){
    min-height: 350px;
  }
  p{
    font-size: 50px;
  }
}

.popover-overlay{
  background-color: transparent !important;
}
.popover-container{
  padding: 8px;
  z-index: 3000;
}
.root{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.popover-logout{
  width: 140px;
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  .link-logout{
    color:  #FA0101;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
}
.modal-wallet{
  width: 360px;
  .wallet-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .wallet-list-item{
    display: flex;
    align-items: center;
    gap: 16px;
    cursor: pointer;
    span{
      font-size: 16px;
      font-weight: 600;
    }
  }
}