@import '../variables.scss';

.home-banner{
  flex: 1;
  padding-top: 30px;
  padding-bottom: 30px;
  .banner-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 32px;
    width: 60%;
    @media (max-width: 767px){
      width: 100%;
    }
  }
  .list-social{
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 30px;
    a{
      width: 30px;
      height: 30px;
      background-color: $text-primary;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      padding: 8px;
    }
    @media (max-width: 767px){
      gap: 12px
    }
  }
  .banner-desc{
    display: flex;
    gap: 10px;
    align-items: center;
    
    h2{
      font-size: 64px;
      font-weight: 700;
      font-family: Syncopate;
      letter-spacing: -6px;
      color: rgb(40,40,40);
      margin: 0;
      
    }
    p{
      font-size: 18px;
      color: rgb(121, 121, 121);
      line-height: 180%;
      margin-bottom: 40px;
    }
    @media (max-width: 767px){
      h2{
        font-size: 40px;
      }
      img{
        display: none;
      }
    }
  }
  .btn-launch{
    display: flex;    
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 320px;
    gap: 10px;
    font-size: 20px;
    svg{
      width: 22px;
      height: auto;
    }
    @media (max-width: 480px){
      max-width: 320px;
      width: 100%;
    }
  }
  .banner-bottom{
    display: flex;
    gap: 40px;
    align-items: center;
    @media (max-width: 767px){
      flex-direction: column;
    }
    .block-solana{
      display: flex;
      gap: 10px;
      font-size: 18px;
      font-weight: 600;
      color: #000;
    }
  }
  .banner-right{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 767px){
      display: none;
    }
  }
}