.page-liquid{
  display: block;
  .liquid-header{
    text-align: center;
    margin-bottom: 40px;
    h1{
      margin: 0 0 6px;
      font-size: 30px;
    }
    p{
      margin: 0;
      font-size: 16px;
    }
  }
  .liquid-items{
    display: grid;
    grid-template-columns: repeat(4,minmax(0,1fr));
    gap: 30px;
    padding: 0 20px;
    margin-bottom: 60px;
    @media (max-width: 1400px){
      padding: 0;
      grid-template-columns: repeat(3,minmax(0,1fr));
    }
    @media (max-width: 840px){
      grid-template-columns: repeat(2,minmax(0,1fr));
    }
    @media (max-width: 568px){
      grid-template-columns: repeat(1,minmax(0,1fr));
    }
    .liquid-item{
      position: relative;      
      &:hover{
        .background-card{
          background: conic-gradient(rgb(86, 242, 255) -0.38deg, rgb(74, 140, 234) 51.89deg, rgb(112, 199, 148) 110.07deg, rgb(255, 227, 54) 170.63deg, rgb(255, 128, 114) 232.5deg, rgb(75, 150, 236) 296.51deg, rgb(86, 242, 255) 359.62deg, rgb(74, 140, 234) 411.89deg);
          filter: blur(16px);
          backdrop-filter: blur(16px);
        }
      }
    }
    .content-item{
      position: relative;
      height: 100%;
      background: rgb(255, 255, 255);
      border-radius: 20px;
      margin-bottom: 0px;
      color: rgb(8, 14, 20);
      padding: 32px;
      width: 100%;
      border-radius: 20px;
      min-width: 260px;
    }
    .background-card{
      position: absolute;
      inset: 0;
    }
  }
  .liquid-item{
    .card-header{
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 20px;
    }
    .card-token{
      // padding-left: 50px;
      display: flex;
      position: relative;
      gap: 10px;
      font-size: 13px;
      font-weight: 600;
      margin-bottom: 10px;
    }
    .card-token-img-right{
      margin-left: -14px;
    }
    .card-price{
      display: flex;
      align-items: center;
      gap: 10px;
      span{
        color: rgb(83, 186, 149);
        font-size: 22px;
        font-weight: 700;
      }
      i{
        font-size: 16px;
        cursor: pointer;
      }
    }
    .card-price-usd{
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
      color: rgb(39, 56, 82);
      margin-bottom: 24px;
    }
    .card-bottom{
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .card-project{
      span{
        cursor: pointer;
      }
    }
  }
}
.liquid-content-tooltip{
  color: #fff;
  max-width: 240px;
  font-size: 12px;
  .pool-symbol-container{
    display: flex;
    flex-direction: column;
    gap: 6px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid rgb(61, 61, 67);
  }
  .pool-symbol{
    display: inline-flex;
    gap: 8px;
    align-items: center;
    img{
      width: 20px;
      height: 20px;
    }
  }
}